@import "reset";

body, html {
  height: 100%;
  width: 100%;
}

/* This parent can be any width and height */
body {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
body:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}