html{
    font-size: 62.5%;
    overflow-y: scroll;
    min-height: 100%;
}

body {
    @include rem-fallback(font-size, $base-font-size);
    line-height: $line-height-ratio;
    font-family: $base-font-family;
    color: $base-font-color;
    font-weight: 400;
    background-color: $base-background-color;
}