// Colors
$color-primary: #B8E986;
$color-body: #D8D8D8;
$color-link: #8CCDF4;
$color-link-hover: #4A90E2;

$color-background: #4A4A4A;

// Typography
$baseline: 24;
$font-body: 16;
$font-head: 36;

// Breakpoints width
$alpha: 320px;
$beta: 500px;
$gamma: 600px;
$delta: 992px;