//------------------------------------*\
//  $VARIABLES
//------------------------------------*/

// $DEBUG
    // Debug mode will visually highlight any potential markup/accessibility quirks in the browser. Set to `true` or `false`.
$debug-mode:        false;


// $BORDER-BOX
    // Do you want all elements to adopt `box-sizing:border-box;` as per paulirish.com/2012/box-sizing-border-box-ftw ?
$global-border-box: true;


// $BASE
$base-font-size:    16px;
$base-line-height:  24px;

$base-font-family: 'Raleway', sans-serif;

$base-font-color: #D8D8D8;
$base-link-color: #8CCDF4;
$base-link-color__hover: #4A90E2;

$base-background-color: #4A4A4A;
$base-ui-color:     #666666;


// $BRAND
$brand-font-family:  "Helvetica Neue", sans-serif; // NOT NEED!

$brand-green: #B8E986;

$brand-round: 5px; // Brand border radius

// $COLOR
$black: #000000;
$white: #FFFFFF;


// $BREAKPOINTS
$alpha: 320px;
$beta: 500px;
$gamma: 600px;
$delta: 992px;


// $FONT-SIZES
    // Font-sizes (in pixels). Refer to relevant sections for their implementations.
$giga-size:         96px;
$mega-size:         72px;
$kilo-size:         48px;

$h1-size:           36px;
$h2-size:           30px;
$h3-size:           24px;
$h4-size:           20px;
$h5-size:           16px;
$h6-size:           14px;

$milli-size: 12px;
$micro-size:        10px;


// $FRAMEWORK
    // Assign our `$base-line-height` to a new spacing var for more transparency.
$base-spacing-unit: $base-line-height;
$half-spacing-unit: $base-spacing-unit / 2;
$line-height-ratio: $base-line-height / $base-font-size;