$search-heigh: 50px;
$submit-width: 100px;

.search-form {
    position: relative;
}

.input-wrapper {

}

.search-text {
    font-size: $h4-size;
    line-height: $search-heigh;
    width: 80%;
    background-image: url("/images/lup-grey.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: auto 30px;
    padding: 0px 0px 0px 40px;

    &:focus {
        background-image: url("/images/lup-black.png");
    }
}

.search-submit {
    width: $submit-width;
    float: right;
    
    line-height: $search-heigh;
    font-size: $h4-size;
}