.wign {
    width: 269px;
    height: auto;
}

.logo-index {
    margin-left: auto;
    margin-right: auto;
    @extend %sass-margin-bottom;
    display: block;
}

.logo-banner {
    float: left;
    height: 50px;
    width: auto;
    margin: 25px;
}