.msg--flash {
    background-color: $brand-green;
    border: 1px solid darken($brand-green, 30%);
    border-radius: $brand-round;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
    color: $black;
    padding: 10px;
    display: block;
    @extend %sass-margin-bottom;
}

.msg--lukke {
    background-color: #f8fb32;
    border: 1px solid darken(#f8fb32, 30%);
    border-radius: $brand-round;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);
    width: 75%;
    color: $black;
    padding: 10px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @extend %sass-margin-bottom;
}

