.like {
    height: 24px;
    height: 2.4rem;
    width: 16px;
    position: relative;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 4px 0px 5px 0px;
}

.delLike {
    @extend .like;
    background-image: url("/images/thumbs-up-black.png");
    top: 0px;

    &:hover {
        text-decoration: none;
    }
}

.addLike {
    @extend .like;
    background-image: url('/images/hands-up-black.png');
    top: 0px;

    &:hover {
        text-decoration: none;
    }
}

.loadingLike {
    @extend .like;
    width: 24px;
    background-image: url('/images/loading-black.png');
    background-size: cover;
    animation: spin 2s linear infinite;
}

.liked {
    background-image: url('/images/thumbs-up-black.png');
}